{% extends 'base_comment.html.twig' %}

{% block title %} {{ theme.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> <a href="{{ path('categories_list', {slug: category.slug, id: category.id}) }}" class="sectiontitle">{{ category.name }}</a> &#187; {{ theme.name }} </h1>
      <div class="commentaire">
        <a href="{{ path('comment_commentaire',{slug: theme.slug, id: theme.id}) }}"> Ajouter un commentaire</a>
      </div>
    </div>

    {% for comments in pagination %}
    <article class="container">
      <div class="d-flex"> {# Use Bootstrap's flex utility classes #}
        <div class="img">
          {% if comments.users.userPicture is not null and comments.users.userPicture.imageName is not null %}
          <img src="{{ asset('images/users/' ~ comments.users.userPicture.imageName)|imagine_filter('carre') }}" alt="User Image">
          {% else %}
          <img src="{{ asset('images/users/istockphoto-1396814518-612x612.jpg')|imagine_filter('carre') }}" alt="Pas d'image">
          {% endif %}
        </div>
        <div class="comment" style="margin-left: 20px;"> {# Add margin to create space between the divs #}
          <span>{{ comments.users.firstname }} : {{ comments.createdAt|format_datetime(locale='fr') }}</span>
          {% if comments.isDelete == true %}
          <p class="text-light bg-danger"><i>Ce commentaire a été supprimé par l'administrateur en raison du non-respect des règles du forum.</i></p>
          {% else %}
          <p>{{ comments.commentaire }}</p>
          {% endif %}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
  <div class="pagination">
    {{ knp_pagination_render(pagination) }}
  </div>
</main>
{% endblock %}