{% extends 'base_comment.html.twig' %}

{% block title %} {{ theme.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> <a href="{{ path('categories_list', {slug: category.slug,  id: category.id}) }}" class="sectiontitle">{{
          category.name }}
        </a> &#187; {{ theme.name }} </h1>
      <div class="commentaire">
        <a href="{{ path('comment_commentaire',{slug: theme.slug, id: theme.id}) }}"> Ajouter un commentaire</a>
      </div>
    </div>
    {% for comments in pagination %}
    <article>
      <span>{{ comments.users.firstname }} : {{ comments.createdAt|format_datetime(locale='fr') }}</span>
      {% if comments.isDelete == true %}
      <p class="text-light bg-danger"><i>Ce commentaire a été supprimer par l'administrateur en raison du non-respect des règles du forum.</i></p>
      {% else %}
      <p>{{ comments.commentaire }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </section>
  <div class="pagination">
    {{ knp_pagination_render(pagination) }}
  </div>
</main>
{% endblock %}