{% extends 'base_comment.html.twig' %}

{% block title %} {{ theme.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> <a href="{{ path('categories_list', {slug: category.slug,  id: category.id}) }}" class="sectiontitle">{{
          category.name }}
        </a> &#187; {{ theme.name }} </h1>
      <div class="commentaire">
        <a href="{{ path('comment_commentaire',{slug: theme.slug, id: theme.id}) }}"> Ajouter un commentaire</a>
      </div>
    </div>
    {% for comments in pagination %}
    <article>
      <span>{{ comments.users.firstname }} : {{comments.createdAt|format_datetime(locale='fr')}}</span>
      <p>{{ comments.commentaire }}</p>
    </article>
    {% endfor %}
  </section>
  <div class="pagination">
    {{ knp_pagination_render(pagination)}}
  </div>
</main>
{% endblock %}