{% extends 'base3.html.twig' %}

{% block title %} {{ theme.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> {{ theme.name }} > </h1>
      {# <a href="{{ path('categories_list', {slug: category.slug}) }}">gfgf</a> #}
      <div class="commentaire">
      <a href="{{ path('comment_commentaire',{slug: theme.slug}) }}"> Ajouter un commentaire</a>  
    </div>
    </div>
    {% for comments in comment %}
    <article>
      <span>{{ comments.users.firstname }} : {{comments.createdAt | date('Y-m-d H:i:s') }}</span>
      <p>{{ comments.commentaire }}</p>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}
