{% extends 'base2.html.twig' %}

{% block body %}
<img src="{{ asset('assets/images/Forum-PNG-Clipart.png') }}" class="img-fluid w-100  mx-auto d-block rounded " alt="ACME logo">

    <main class="container" id="index">
        <section class="row">
            <div class="col-12">
                <p>Toutes les catégories :</p>
                <div class="theme">
                <a href="{{ path('ajouter') }}"> Ajouter un thème</a>  
            </div>               
            </div>
            {% for category in categories %}
                {% if category.parent == null %}
                    <div class="col-12">
                        <h2>{{ category.name }}</h2>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="card h-100  border-1 border-secondary rounded-0">
                            <div class="card-body">
                              <h3> <a href="{{ path('categories_list', {slug: category.slug}) }}"
                                class="">{{ category.name }}</a></h3>
                            </div>
                        </div>
                    </div>    
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}
