{% extends 'base_game.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Tournois de Valorant</h1>
    <ul class="list-group">
        {% if valorant is defined and valorant is not empty %}
            {% for tournament in valorant %}
                <li class="list-group-item bg-dark">
                    <h2>{{ tournament.name }}</h2>
                    <p><strong>Début :</strong> {{ tournament.begin_at | date('d/m/Y H:i:s') }}</p>
                    <p><strong>Fin :</strong> {{ tournament.end_at | date('d/m/Y H:i:s') }}</p>
                    <p><strong>Prix :</strong> {{ tournament.prizepool }}</p>
                    <p><strong>Tier :</strong> {{ tournament.tier }}</p>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Aucun tournoi Valorant disponible.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}

