{% extends 'base.html.twig' %}

{% block title %} {{ category.parent.name }} {{ category.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> {{ category.parent.name }} > {{ category.name }} > </h1>
    </div>
  </section>
</main>
<div class="container">
  <table class="table table-dark table-striped table-hover ">
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Pseudo</th>
        <th>Date</th>
      </tr>
    </thead>
    {% for themes in theme %}
    <tbody>
      <tr>
        <td><a href="{{ path('comment_list', {slug: themes.slug}) }}"> {{ themes.name }}</a></td>
        <td class="w-auto">{{ themes.users.firstname }}</td>
        <td class="w-25">{{themes.createdAt|date('Y-m-d H:i:s')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}