{% extends 'base_theme.html.twig' %}

{% block title %} {{ category.parent.name }} {{ category.name }} {% endblock %}

{% block body %}
<main class="container">
  <section class="row">
    <div class="col-12">
      <h1> {{ category.parent.name }} &#187; {{ category.name }} </h1>
    </div>
  </section>
</main>
<div class="container">
  <table class="table border-secondary" data-toggle="table" data-pagination="true">
    <thead>
      <tr>
        <th class="th-sm">Sujet</th>
        <th class="th-sm">Pseudo</th>
        <th class="th-sm">Vues</th>
        <th class="th-sm" data-sortable="true" data-field="Date">Activité</th>
      </tr>
    </thead>
    <tbody>
      {% for themes in pagination %}
      <tr>
        <td class=""><a href="{{ path('comment_list', {slug: themes.slug ?? '', id: themes.id}) }}">{{ themes.name }}</a></td>
        <td class="w-auto text-white p-3">{{ themes.users.firstname }}</td>
        <td class="text-white p-3">{{ themes.visits.count }}</td>
        <td id="time" class="w-25 text-warning">{{ themes.getTimeSinceCreation() }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    {{ knp_pagination_render(pagination)}}
  </div>
</div>
{% endblock %}