{% if app.user.imageName is not empty %}
<img src="{{ asset('images/users/' ~ app.user.imageName) }}" alt="User Image">
{% endif %}
<aside class="col-3  p-1 w-50 ">
  <article class="card mb-3 bg-dark">
    <div class="card-header text-warning">
      Utilisateur
    </div>
    <div class="card-body">
      <span class="w-auto text-white ">{{ app.user.email }}</span>
      {% if app.user and app.user.isVerified == false %}
      <p><a class="link text-warning" href="{{ path('profile_send_email') }}">Confirmer mon email</a></p>
      {% endif %}
    </div>
    {% if app.user.imageName is empty %}
    <div class="card-body">
      <p><a class="link text-warning" href="{{ path('profile_picture') }}">Ajouter une image pour votre profil</a></p>
    </div>
    {% else %}
    <div class="card-body">
      <p><a class="link text-warning" href="{{ path('profile_remove') }}">supprimer votre image </a></p>
    </div>
    {% endif %}
  </article>
  <article class="card mb-3 bg-dark">
    <div class="card-header text-warning">
      Pseudo
    </div>
    <div class="card-body">
      <span class="w-auto text-white ">{{ app.user.firstname }}</span>
    </div>
  </article>
  <article class="card mb-3 bg-dark">
    <div class="card-header text-warning">
      Commentaires
    </div>
    <div class="card-body">
      <p><a class="link" href="{{ path('profile_list') }}">Mes commentaires</a></p>
    </div>
  </article>
</aside>